<%# add navigation links to this file %>

<li><%= link_to 'Guardians', '/guardians' %></li>
<li><%= link_to 'Children', '/children' %></li>

<% if logged_in?

if current_administrator.email?%> <%# this email %>
<%end%>
<%end%>

<% if logged_in? %>

<% if current_administrator.access_level == 1 %>

<li><%= link_to 'Administrator', '/administrators' %></li>


<%end%>
<%end%>